body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}


.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    margin: 0px;
    padding: 0 35px;
    
}

.header-logo {
    border: 2px solid white;
    font-size: 24px;

}

ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 18px;
    list-style: none;
    gap: 12px;
}

.container-1 {
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    background-color: #1F2937;
    height: 500px;
}

.main-text {
    margin: auto;
    font-size: 48px;
}


.left-box {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    width: 350px;
    height: auto;
}

.right-box {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    /* text-align: center; */
    /* background-color: #; */
    /* width: 400px;
    height: 150px;
    margin: auto; */
}

.image-placeholder {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b6475;
    width: 400px;
    height: 300px;
    margin: auto;
}

.subtext {
    margin-top: -50px;
    padding: 0px;
}

.header-2 {
    margin-bottom: auto;
    font-size: 22px;
    font-weight: 700;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    margin-bottom: auto;
}

.placeholder-text {
    text-align: center;
}

/*Second box with four image containers*/

.container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.container-2-info {
    text-align: center;
    font-size: 36px;
}


.box {
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 10%;
    border: 10px solid cadetblue;
    margin: 20px;
    height: 12rem;
    width: 12rem;
}

.container-3 {
    background-color: #c7d3e9;
    height: 300px;
}

.container-4 {
    height: 300px;
}

.product-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: rgb(148, 197, 181);
    color:rgb(236, 248, 247);
    height: 7rem;
    width: 700px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7d3e9;
    background-color: #1F2937;
    height: 4rem;
}